[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pykafka = "*"
aiohttp = "*"
Pillow = "*"
boto3 = "*"
pytest-asyncio = "*"
aioredis = "*"
aredis = "*"
redis = "*"
PyExifTool = "*"
exifread = "*"

[dev-packages]

[requires]
python_version = "3.7"
